.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent { 
  background-color: blue;
  height: 400px;
  width: 400px;
}

.child {
  background-color: red;
  height: 50%;
  width: 50%;
}

.parent:hover .child {
  animation: animation1 2s ease-in forwards infinite;
}

@keyframes animation1 {
  0% {
    transform: translateX(0);
  }
  12.5% {
    background-color: orangered;
    transform: translateY(100%);
  }
  25% {
    background-color: orange;
    transform: translateX(100%) translateY(100%);
  }
  37.5% {
    background-color: yellow;
    transform: translateX(100%);
  }
  50% {
    background-color: yellowgreen;
    transform: translateX(0);
  }
  62.5% {
    background-color: yellow;
    transform: translateY(100%);
  }
  75% {
    background-color: orange;
    transform: translateX(100%) translateY(100%);
  }
  87.5% {
    background-color: orangered;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animatedDiv {
  background-color: yellowgreen;
  height: 100px;
  width: 100px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.animatedDiv:hover {
  animation: animation2 infinite 1s linear;
}

@keyframes animation2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animatedDiv2 {
  background-color: red;
  height: 100px;
  width: 100px;
  display: flex;
}

.animatedDiv2:hover {
  animation: animation3 infinite 2s linear alternate;
}

@keyframes animation3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.animatedDiv3 {
  background-color: black;
  height: 100px;
  width: 100px;
  display: flex;
}

.animatedDiv3:hover {
  animation: animation4 infinite 2s linear;
}

@keyframes animation4 {
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(45deg);
  }
  75% {
    transform: skewX(-45deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
